<head>
  <meta charset="utf-8">

  <title>My Parse App</title>
  <meta name="description" content="My Parse App">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

  <style>
    #main {
        margin:20px;
    }

    #savebutton {
        margin:20px;
        margin-left: 60px;

        height:50px;
        width:200px;
        border-radius:5px;
    }

    .inputfield { 
        height:50px;
        
        border-radius:5px;
        background-color: lightyellow;
    }

    #sel {
        margin-left: 60px;
        width:200px;

    }


  </style>
</head>

<body>
  
  <div id="main">
    <h1>You're ready to use Parse!</h1>

    <input type="text" placeholder="Enter comments" class="inputfield" id = "writenote" ></input>

    

    <h1>Hello, {{ yourName }}!</h1>

    <input type="text" ng-model="yourName" placeholder="Enter a name here" class="inputfield">


    <h1>Maximum players: {{ maxplayer }}</h1>

    <select name="sel" id="sel" onchange="look();" ng-model="maxplayer">
        <option value="1">1</option>
        <option value="2" selected>2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>

    <br>
    <button id="savebutton">save</button>



  </div>

<script type="text/javascript">

// http://i.mtime.com/zhd/blog/640947/

    Parse.initialize("4EwmpzaOP88GfVC4Dv8pORp5TXEFdkOSZysvHEYB", "wtQIZ2Kclhx6e1cLNJQn1zfdx2wUePqfCza0Gn1f");    

document.getElementById("savebutton").onclick = function()
{ 

    var comm = document.getElementById("writenote").value

    // alert("you typed " + comm);

    var Note = Parse.Object.extend("Note");
    var note = new Note();

    note.set("comment", comm);//set value into different column in one class

    note.save(null,{
      success:function(note) {
        alert('New comment created with objectId: ' + note.id);
      },
      error:function(note) {
        alert('Failde to create new comment, with error code: ' + error.description);
    }
  });

};
</script>

</body>
